<form [formGroup]="loginForm" novalidate (submit)="onSubmitLogin(loginForm)">
  <div class="form-control">
    <label>Username
  <input type="text" class="form-input" formControlName="username" autofocus/></label>
    <div class="error" *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
      Please enter username.
    </div>
  </div>
  <div class="form-control">
    <label>Password
  <input type="password" class="form-input" formControlName="password" /></label>
    <div class="error" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
      Please enter password.
    </div>
  </div>
  <button class="btn btn-positive" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
