/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background: #d6edff;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', 'Arial';
}

.container {
  margin: 1em;
  padding: 1em;
}

.error {
  background: pink;
  opacity: 0.8;
  border: 0;
  border-radius: 10px;
  padding: 1em;
  color: #500;
  margin: 0;
  min-width: 12em;
  max-width: 15em;
  text-align: center;
}

input {
  border: 0;
  padding: 1em;
  min-width: 19em;
  max-width: 21em;
  margin-bottom: 2em;
}

select {
  padding: 3px;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.btn {
    border: none;
    background: white;
    padding: .5em 3em;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.list-item {
    margin: 1em 0;
}

.form-control {
  margin: 1em;
}

.user-selection button {
  margin: 0.3em;
  padding: 1em;
  background: #20bef2;
  color: white;
  // border: 0.2em #0990CB solid;
}

.btn:hover {
  opacity: 0.8;
}

.btn-positive {
  display: block;
  padding: 1em 3em;
  background: #A5F883;
  color: #003A61;
  margin-bottom: 1em;
}
